- title @category.name

- breadcrumb(@category)

= link_to 'Edit', edit_category_path(@category)
\|
= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete
\|
= link_to 'Back', categories_path

%p= link_to "Create child", new_category_path(:parent => @category)

- unless @category.children.empty?
  %table.children
    - @category.children.each do |child|
      %tr
        %td= link_to child.name, child
        %td= link_to "Edit this child", edit_category_path(child)

- if @category.infos.empty?
  - if Rails.env.development?
    %pre.debug_dump No infos for this category
- else
  %table.infos
    %tr
      %th Name
      %th State
      %th
      %th
    - @category.infos.each do |info|
      %tr
        %td= link_to info.name, info
        %td.state{:class => "#{info.state}"}= info.state
        %td= link_to 'Edit', edit_info_path(info)
        %td= link_to 'Destroy', info, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New info", new_category_info_path(@category)
