= nested_form_for [@category, @info] do |f|
  - if @info.errors.any?
    #error_explanation
      %h2= "#{pluralize(@info.errors.count, "error")} prohibited this info from being saved:"
      %ul
        - @info.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :state
    = f.collection_select :state_event, @info.state_transitions,
      :event, :human_to_name, :include_blank => @info.human_state_name

  = f.fields_for :phones do |phone_form|
    = phone_form.label :name, "Phone"
    = phone_form.text_field :name
    = phone_form.label :number
    = phone_form.text_field :number
    = phone_form.link_to_remove "Remove phone"
  %p= f.link_to_add "Add phone", :phones

  = f.fields_for :locations do |location_form|
    .field
      = location_form.label :name, "Location"
      = location_form.text_field :name
    .field
      = location_form.label :address
      = location_form.text_field :address
      = location_form.label :city
      = location_form.text_field :city
    .field
      = location_form.label :country
      = location_form.text_field :country
      = location_form.label :cp
      = location_form.text_field :cp
    = location_form.link_to_remove "Remove location"
  %p= f.link_to_add "Add location", :locations

  = f.fields_for :websites do |website_form|
    .field
      = website_form.label :name, "Website"
      = website_form.text_field :name
    .field
      = website_form.label :url
      = website_form.text_field :url
    = website_form.link_to_remove "Remove website"
  %p= f.link_to_add "Add website", :websites

  .actions
    = f.submit
