- title "Infos"

%table.infos
  %tr
    %th Name
    %th State
    %th
    %th

  - @infos.each do |info|
    %tr
      %td= link_to info.name, info
      %td.state{:class => "#{info.state}"}= info.state
      %td= link_to 'Edit', edit_info_path(info)
      %td= link_to 'Destroy', info, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Info", new_info_path
