- title "Infos"

%table
  %tr
    %th Name
    %th State
    %th Ancestry
  - for info in @infos
    %tr
      %td= info.name
      %td= info.state
      %td= info.ancestry
      %td= link_to 'Show', info
      %td= link_to 'Edit', edit_info_path(info)
      %td= link_to 'Destroy', info, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Info", new_info_path
