- title "Info"

%p
  %strong Name:
  = @info.name

%p
  - if @info.parent
    %strong Parent:
    = @info.parent.name
  - else
    %pre.debug_dump= "Root info node" if Rails.env.development?

= form_for @info do |f|
  .field
    = f.label :state
    = f.collection_select :state_event, @info.state_transitions,
      :event, :human_to_name, :include_blank => @info.human_state_name
    = f.submit "Update state"

%p
  = link_to "Create child", new_info_path(:parent => @info)

%p
  = link_to "Edit", edit_info_path(@info)
  |
  = link_to "Destroy", @info, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", infos_path
