- title @info.name

%p
  = link_to "Edit", edit_info_path(@info)
  |
  = link_to "Destroy", @info, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Back", category_infos_path(@info.category)

= form_for @info do |f|
  .field
    = f.label :state
    = f.collection_select :state_event, @info.state_transitions,
      :event, :human_to_name, :include_blank => @info.human_state_name
    = f.submit "Update state"

- unless @info.phones.empty?
  %h2 Phones
  %table
    - @info.phones.each do |phone|
      %tr
        %td= phone.name
        %td= phone.number

- unless @info.locations.empty?
  %h2 Locations
  %table
    - @info.locations.each do |location|
      %tr
        %td= location.name
        %td= location.address
        %td= location.city
        %td= location.country
        %td= location.cp

- unless @info.websites.empty?
  %h2 Websites
  %table
    - @info.websites.each do |website|
      %tr
        %td= website.name
        %td= website.url
