- title @info.name

%p
  = link_to "Edit", edit_info_path(@info)
  |
  = link_to "Destroy", @info, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Back", category_infos_path(@info.category)

= form_for @info do |f|
  .field
    = f.label :state
    = f.collection_select :state_event, @info.state_transitions,
      :event, :human_to_name, :include_blank => @info.human_state_name
    = f.submit "Update state"
